/* @import url('');  */

.register {
  color: #FFFFFF;
  font-family: "Zen Dots", sans-serif;
  /* padding-left: 824px;
  padding-top: 231px; */
}

[input~="SignUp"] {
  color: #FFFFFF;
}

.signup-botton input{
  background-color: black;
  width: 100px;
  height: auto;
}

p {
  color: #FFFFFF;
  font-family: "Rajdhani", sans-serif;
}
body {
  background-image: url("./images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 60000px; */
  /* background-color: aqua; */
}




