@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');


.login{
  color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid --primary;
}

*::selection {
  background: white;
  color: navy;
}

body {
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  /* align-items: center; */
  color: white;
  font-family: "Zen Dots", sans-serif;
  flex-direction: row;
  /* background: url(./images/background.png); */
  background-repeat: no-repeat;
  background-size: cover;
  /* justify-items: center; */
}

.login {
  padding-top: 300px;
  padding-left: 300px;
}