button {
    transition: transform 0.2s ease;
}

/* button:hover {
    transform: scale(1.1);
} */

/* .custom-scrollbar {
    scrollbar-width: thin; 
    scrollbar-color: #BD3944 transparent; 
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4A4A4A;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; 
} */
