:root {
    --primary: #605dff
    --primary-dark: #4a00e0
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid --primary;
}

*::selection {
    /* background: var(--primary); */
    color: rgba(255, 255, 255, 0);
}

body {
    font-size: 16px;
    font-family: 'work sans', sans-serif;
    height: 100vh;
    padding: 1rem;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url("./src/images/background.png");
    background-size: cover;
}

.social-row {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.social-row img {
    width: 1.5rem;
    height: 1.5rem;
}


.google-social>a, .intra-social>a {
    padding: .5rem;
    border-radius: .5rem;
    width: 100%;
    min-height: 3rem;
    display: flex;
    gap: .75rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.1rem;
    color: #1d1d1d;
    /* padding: .5rem; */
    background: white;
    /* height: 1.5rem; */
    transition: all .3s ease;
    font-weight: 700;
    
}
.google-social>a{
    border: 2px solid #000000;
    margin-bottom: .5rem;
}

.intra-social>a {
    border: 2px solid #ffffff;
    color:white;
    background: rgb(0, 0, 0);
}

.intra-social>a:hover{
    border: #ff0000;
}

.google-social>a:hover {
    border: rgb(255, 0, 0);
}

.login-row {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.logo {
    height: 4rem;
    margin: 0 auto;
}

.login-row h1 {
    color: white;
}

.lines {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
    font-weight: bold;
    align-items: center;
}

.line {
    border: 1px solid black;
    height: 5px;
    flex: 1;
    background: #78787b;
}

.text-field {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.text-field input {
    color: rgb(255, 255, 255);
    max-width: 100%;
    width: 100%;
    border: none;
    border-bottom: 4px solid rgb(255, 255, 255);
    /* border-top: none;
    border-right: none;
    border-left: none; */
    min-height: 3rem;
    letter-spacing: .03rem;
    outline: none;
    background: #78787b00;
    transition: .25s;
    /* border-radius: 1rem; */
    /* text-indent: 1.25rem; */
}

.text-field input::placeholder {
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: .05rem;
    color: #ffffff 40%;
}

.text-field label {
    color: rgb(121, 0, 242);
}

.form {
    right: 170px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    gap: 1rem;
    background: rgba(255, 255, 255, 0);
    width: 100%;
    max-width: 32rem;
    padding: 3rem 2rem;
    border-radius: 2rem;
    box-shadow: rgba(99, 99, 99, 0.05) 0px 2px 8px 8px;
    height: fit-content;
}

.form-button {
    background: rgb(0, 0, 0);
    color: white;
    white-space: nowrap;
    border: 2px solid white;
    /* display: flex; */
    display: block;
    margin: auto;
    /* justify-content: center;
    align-items: center; */
    margin-top: 1rem;
    line-height: 3.125rem;
    outline: none;
    font-size: 1.125rem;
    letter-spacing: .025rem;
    text-decoration: none;
    cursor: pointer;
    font-weight: 800;
    min-height: 3.125rem;
    width: 30%;
    border-radius: 0.5rem;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.form-button:hover {
    background: #000000;
}

.form-action {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    justify-content: space-between;
    color: rgb(255, 140, 0);
    gap: 1rem;
    margin-top: 0.5rem;
}

.form-action  a {
    color: aqua;
    font-weight: 600;
    text-decoration: none;
}

.form-action  a:hover {
    text-decoration: underline;
}

.form-row {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
}
