asgiref
Django
sqlparse
typing-extensions
djangorestframework
django-cors-headers
djangorestframework-simplejwt
django-allauth
requests
dj_rest_auth
cryptography
python-dotenv
Pillow
aiosmtpd
django-otp
qrcode
pyotp
psycopg2-binary