#root {
  margin: 0 auto;
  width: 100%;
  padding: 0;
  text-align: center;
  overflow: auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.homepage {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-image: url('./assets/bg.png');
  background-size: cover;
  background-position: center; */

  /* background: linear-gradient(to right, #07072C 0%, 24.13793057203293%, #12115C 48.27586114406586%, 74.13793057203293%, #090A38 100%); */

  background: rgb(18,17,92);
  background: radial-gradient(circle, rgba(18,17,92,1) 17%, rgba(9,10,56,1) 68%);
}

.navbar {
  z-index: 5;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8vh;
  background: linear-gradient(90deg, rgba(9, 8, 48, 0.29) 0.31%, rgba(26, 25, 91, 0.29) 57.83%, rgba(0, 0, 0, 0.29) 99.68%);
}

.navbar img {
  padding-right: 30%;
}
.navbar button {
  color: white;
  background-color: transparent;
  padding: 10px;
  margin: 10px;
}

.team-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* gap: 24px; */
  /* margin-top: 50vh; */
  top: 1315px;
  width: 75%;
  height: 80vh;
  position: relative;
}

.swiper-slide {
  width: 250px !important;
}

.team-member {
  margin-inline: 2%;
  background: linear-gradient(180deg, #12115D 28.5%, #2624C3 100%);
  border-radius: 20px;
  padding: 15px;
  padding-top: 25px;
  position: relative;
}

.fadeout {
  border-radius: 20px;
  z-index: 2;
  background-image: linear-gradient(90deg, #0E0E4E 0%, rgba(14, 14, 78, 0) 100%);
  height: 100%;
  width: 20%;
  position: absolute;
  rotate: 180deg;
  right: 0;
  top: 0;
  transform: translateX(-5px) ;
}

.fadein {
  border-radius: 20px;
  z-index: 2;
  /* background-image: linear-gradient(90deg, #13125E 0%, rgba(18, 17, 93, 0) 100%); */
  background-image: linear-gradient(90deg, #0E0E4E 0%, rgba(14, 14, 78, 0) 100%);
  height: 100%;
  width: 20%;
  position: absolute;
  left: 0;
  top: 0;
}

.team-member img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: black;
  position: absolute;
  top: -50px;
  transform: translateX(-50%);
}

p {
  color: white;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

.username-input {
  margin-top: 30vh;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 30vh;
}

.space {
  height: 2035px;
}

.headline {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
  top: 778px;
}

.headline img {
  width: 200px;
  height: 200px;

}

.scene {
  margin-top: 15vh;
}